* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 3840px;
  height: 3796px;
}

.header {
  margin: 0 auto;
  max-width: 3840px;
  height: 908px;
  background: url(../img/noise_transparent@2x.svg), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;

  .nav {
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px 40px 40px;

    .logo {
      .title {
        padding-left: 3px;
        letter-spacing: 0.1em;
      }

      .subtitle {
        margin-top: 10px;
        padding-left: 5px;
      }

      h1 {
        color: #F1CDB3;
        font-family: 'Georgia', 'sans-serif';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
      }

      h6 {
        font-family: 'Arial', 'sans-serif';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        display: flex;
        align-items: center;
        letter-spacing: 0.1em;
        color: #FFFFFF;
      }
    }

    .nav-menu {
      max-width: 443px;
      height: auto;

      ul li {
        margin-right: 31px;
        display: inline-block;
        font-family: 'Arial', 'sans-serif';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #FAFAFA;
        border-bottom: 3px solid transparent;
        transition: border-bottom 0.3s ease;

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          border-bottom: 3px solid #F1CDB3;
          cursor: pointer;
        }
      }
    }
  }
}

.screen-content {
  background: url('../img/start-screen-puppy.png') no-repeat right bottom;
  background-size: contain;
  margin: 0 auto;
  max-width: 1200px;
  height: 82.3%;

  .about__content {
    padding-top: 183px;
    max-width: 460px;
    height: auto;

    .header__donation {
      max-width: 310px;
      height: auto;
      padding-bottom: 43px;

      h2 {
        font-family: 'Georgia', 'sans-serif';
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 130%;
        display: flex;
        align-items: center;
        color: #FFFFFF;
      }
    }

    .header__subheading {
      padding-bottom: 40px;
    }

    .header__subheading p {
      font-family: 'Arial', 'sans-serif';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      display: flex;
      align-items: center;
      color: #CDCDCD;
    }
  }

  .content__button {
    padding: 15px 45px;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
  }
}

.about {
  max-width: 3840px;
  height: auto;
  background: white;

  .about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 80px 90px;

    .about__content {

    }

    .donation__heading {
      max-width: 370px;
      height: auto;
    }

    .about__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-around;
      max-width: 430px;
      height: auto;

      h3 {
        font-family: 'Georgia', 'sans-serif';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;
      }

      p {
        font-family: 'Arial', 'sans-serif';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #4C4C4C;
      }
    }
  }
}

.pets {
  background: #F6F6F6;
  max-width: 3840px;
  height: auto;


  .pets__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;

    .pets__heading {
      max-width: 400px;
      padding: 93px 440px 60px 440px;

      h3 {
        text-indent: 1.6em;
        font-family: 'Georgia', 'sans-serif';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;
      }
    }
  }
}

.button-arrow {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
}

.pets__slider {
  max-width: 1200px;
  gap: 55px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;

  > * {
    &:nth-child(2) {
      margin-right: 30px;
    }

    &:nth-child(4) {
      margin-left: 30px;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;

    h3 {
      font-family: 'Georgia', 'sans-serif';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.06em;
      color: #545454;
      margin-top: 30px;
    }

    .card__button {
      box-sizing: border-box;
      align-items: center;
      padding: 15px 45px;
      margin-top: 30px;
      margin-bottom: 30px;
      border: 2px solid #F1CDB3;
      border-radius: 100px;
      font-family: 'Georgia', 'sans-serif';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: #292929;
    }
  }
}

.pets__content .pets-content__button {
  padding: 15px 45px;
  max-width: 261px;
  height: 52px;
  border-radius: 100px;
  background: #F1CDB3;
  margin-bottom: 100px;
  font-family: 'Georgia', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #292929;
  border: none;
  letter-spacing: 1px;
}

.help {
  margin: 0 auto;
  max-width: 1280px;
  height: 611px;
  background-color: white;

  .help-content {
    padding-top: 80px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .text-heading {
      max-width: 308px;
    }

    .text-heading h3 {
      font-family: 'Georgia', 'sans-serif';
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 130%;
      text-align: center;
      letter-spacing: 0.04em;
      color: #545454;
    }

    .list {
      padding-top: 59px;
      max-width: 1026px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      row-gap: 61px; // промежуток между рядами
      column-gap: 119px; // промежуток между столбцами

      .flex-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      h4 {
        padding-top: 27px;
        font-family: 'Georgia', 'sans-serif';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
        white-space: nowrap;
      }
    }

    h4 {
      padding-top: 25px;
      font-family: 'Georgia', 'sans-serif';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 115%;
      text-align: center;
      letter-spacing: 0.06em;
      color: #545454;
      white-space: nowrap;
    }
  }
}

.donation {
  background: #F6F6F6;
  margin: 0 auto;


  .donation__content {
    padding-top: 78px;
    padding-bottom: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    max-width: 915px;
    height: 282px;

    .donation__main {


      h3 {
        padding-bottom: 20px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        align-items: center;
        letter-spacing: 0.06em;
        color: #545454;
      }

      h5 {
        padding-bottom: 20px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        align-items: center;
        letter-spacing: 0.06em;
        color: #545454;
      }
    }

    .donation__credit-card {
      margin-bottom: 30px;
      max-width: 349px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 15px;
      background: #F1CDB3;
      border-radius: 9px;

      .donation__credit-card-content {
        display: flex;
        max-width: 319px;
        height: 23px;

        h4 {
          margin-left: 10px;
          font-family: 'Georgia';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 115%;
          display: flex;
          align-items: center;
          letter-spacing: 0.06em;
          color: #545454;
        }
      }
    }

    p {
      font-family: 'Arial';
      font-style: italic;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #B2B2B2;
    }
  }
}



