* {
    margin: 0;
    padding: 0;
}
body {
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 3840px;
    height: 3796px;
}

.header {
    margin: 0 auto;
    max-width: 3840px;
    height: 908px;
    background: url(../img/noise_transparent@2x.svg), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.header .nav {
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px 40px 40px;
}

.logo .title {
    padding-left: 3px;
    letter-spacing: 0.1em;
}

.logo .subtitle {
    margin-top: 10px;
    padding-left: 5px;
}

.header .nav .logo h1 {
    color: #F1CDB3;
    font-family: 'Georgia', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
}

.header .nav .logo h6 {
    font-family: 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

.header .nav-menu {
    max-width: 443px;
    height: auto;
}

.header .nav-menu ul li {
    margin-right: 31px;
    display: inline-block;
    font-family: 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #FAFAFA;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s ease;
}

.header .nav-menu ul li:last-child {
    margin-right: 0;
}

.header .nav-menu ul li:hover {
    border-bottom: 3px solid #F1CDB3;
    cursor: pointer;
}

.screen-content {
    background: url('../img/start-screen-puppy.png') no-repeat right bottom;
    background-size: contain;
    margin: 0 auto;
    max-width: 1200px;
    height: 82.3%;
}

.screen-content .content {
    padding-top: 183px;
    max-width: 460px;
    height: auto;
}

.screen-content .content .heading {
    max-width: 310px;
    height: auto;
    padding-bottom: 43px;
}

.screen-content .content .subheading {
    padding-bottom: 40px;
}

.screen-content .content .heading h2 {
    font-family: 'Georgia', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.screen-content .content .subheading p {
    font-family: 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    display: flex;
    align-items: center;
    color: #CDCDCD;
}

.screen-content .content__button {
    padding: 15px 45px;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}

.about {
    max-width: 3840px;
    height: auto;
    background: white;
}

.about .about-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*padding: 80px 40px 100px 40px;*/
    margin: 80px 90px;
}

.about .about-content .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    max-width: 430px;
    height: auto;

}

.about .about-content .heading {
    max-width: 370px;
    height: auto;
}

.about .about-content .content .heading h3 {
    font-family: 'Georgia', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}

.about .about-content .content p {
    font-family: 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
}
.pets {

    max-width: 3840px;
    height: auto;
    background: #F6F6F6;
}
.pets .pets-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}
.pets .pets-content .heading {
    max-width: 400px;
    padding: 93px 440px 60px 440px;
}
.pets .pets-content .heading h3 {
    text-indent: 1.6em;
    font-family: 'Georgia','sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
}
.button-arrow {
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
}
.slider {
    max-width: 1200px;
    gap: 60px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}
.slider > *:nth-child(2) {
    margin-right: 30px;
}
.slider > *:nth-child(4) {
    margin-left: 30px;
}
.slider .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;

}
.slider .card h3 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #545454;
    margin-top: 30px;
}
.slider .card .card__button {
    box-sizing: border-box;
    align-items: center;
    padding: 15px 45px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia','sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #292929;
}
.pets-content .pets-content__button {

    padding: 15px 45px;
    max-width: 261px;
    height: 52px;
    border-radius: 100px;
    background: #F1CDB3;
    margin-bottom: 100px;
    font-family: 'Georgia','sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #292929;
    border: none;
    letter-spacing: 1px;
}
