.button_paginator {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .button_paginator:hover {
    background-color: #f5f5f5;
  }
  
  .button_paginator_active {
    background-color: #333;
    color: #fff;
  }
  
  .button_paginator_inactive {
    opacity: 0.5;
    cursor: not-allowed;
  }