* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: Arial;
  font-weight: 400;
  min-height: 100vh;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
  overflow: hidden;
  z-index: 10;
  visibility: hidden;
}

.content-width {
  width: 120rem;
  margin: 0 auto;
}

.link-common {
  text-decoration: none;
}

.header {
  display: flex;
  max-width: 128rem;
  margin: 0 auto;
  height: 12rem;
  background-color: #ffffff;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-title {
  margin-top: 0.05rem;
  margin-bottom: 0.9rem;
  margin-left: 0.01rem;
  font-family: Georgia;
  font-size: 3.2rem;
  line-height: 3.5rem;
  letter-spacing: 0.19rem;
  color: #545454;
}

.logo-link:link,
.logo-link:visited{
  color: #545454;
}

.logo-link:hover,
.logo-link:active {
  cursor: pointer;
}

.logo-subtitle {
  margin-left: 0.4rem;
  font-size: 1.3rem;
  line-height: 1.5rem;
  letter-spacing: 0.13rem;
  color: #292929;
}

.burger-menu {
  display: none;
  z-index: 12;
}

.burger-line {
  z-index: 12;
}

.nav-container {
  z-index: 11;
}

.nav-list {
  display: flex;
  width: 44.24rem;
  margin-top: -0.4rem;
  justify-content: space-between;
  font-size: 1.5rem;
  line-height: 2.4rem;
  list-style: none;
}

.nav-link {
  text-decoration: underline 0.3rem;
  text-underline-offset: 0.7rem;
  text-decoration-color: transparent;
  transition: all 0.5s ease-out;
}

.nav-link:link,
.nav-link:visited {
  color: #545454;
}

.nav-link.active {
  color: #292929;
  text-decoration-color: #f1cdb3;
}

.nav-link:hover.active {
  cursor: default;
}

.nav-link:hover,
.nav-link:active {
  color: #292929;
  cursor: pointer;
}

.pets {
  height: 134.2rem;
  margin: 0 auto;
  background-color: #f6f6f6;
}

.pets-heading {
  padding-top: 8.1rem;
  margin-left: 0.3rem;
  margin-bottom: 5.9rem;
  font-family: Georgia;
  font-size: 35px;
  font-weight: 400;
  line-height: 4.5rem;
  letter-spacing: 0.21rem;
  text-align: center;
  color: #545454;
}

.cards-container {
  display: grid;
  margin-bottom: 2.5rem;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 4rem;
  row-gap: 3rem;
}

.card {
  display: flex;
  width: 27rem;
  height: 43.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fafafa;
  transition: all 0.5s;
  border-radius: 0.9rem;
}

.card-img {
  width: 27rem;
  height: 27rem;
  border-top-right-radius: 0.9rem;
  border-top-left-radius: 0.9rem;
}

.card-img-0 {
  background: url("/assets/img/images/pets-jennifer.png") no-repeat;
}

.card-img-1 {
  background: url("/assets/img/images/pets-sophia.png") no-repeat;
}

.card-img-2 {
  background: url("/assets/img/images/pets-woody.png") no-repeat;
}

.card-img-3 {
  background: url("/assets/img/images/pets-scarlet.png") no-repeat;
}

.card-img-4 {
  background: url("/assets/img/images/pets-katrine.png") no-repeat;
}

.card-img-5 {
  background: url("/assets/img/images/pets-timmy.png") no-repeat;
}

.card-img-6 {
  background: url("/assets/img/images/pets-freddie.png") no-repeat;
}

.card-img-7 {
  background: url("/assets/img/images/pets-charly.png") no-repeat;
}

.card-info {
  display: flex;
  width: 27rem;
  height: 16.5rem;
  flex-direction: column;
  align-items: center;
}

.card-name {
  margin-top: 3rem;
  margin-left: 0.25rem;
  font-family: Georgia;
  font-size: 2rem;
  line-height: 2.27rem;
  letter-spacing: 0.12rem;
  color: #545454;
  pointer-events: none;
}

.card-btn {
  width: 18.7rem;
  height: 5.2rem;
  margin-top: 3rem;
  margin-left: 0.1rem;
  padding: 1.3rem 4.25rem;
  border: 2px solid #f1cdb3;
  border-radius: 10rem;
  background-color: #fafafa;
  transition: 0.5s;
  pointer-events: none;
}

.card-btn:hover {
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
  cursor: pointer;
}

.card-link {
  font-family: Georgia;
  font-size: 1.7rem;
  line-height: 2.21rem;
  letter-spacing: 0.099rem;
  color: #292929;
}

.card:hover {
  background-color: #ffffff;
  transition: 0.3s;
  cursor: pointer;
}

.card:hover .card-btn {
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
}

.cards-navigation {
  display: grid;
  width: 3.4rem;
  height: 5.2rem;
  margin-top: 6rem;
  margin-left: 43rem;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2rem;
}

.cards-arrow {
  display: flex;
  width: 5.2rem;
  height: 5.2rem;
  padding-bottom: 0.18rem;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-radius: 10rem;
  font-family: Georgia;
  font-size: 2rem;
  font-weight: 400;
  color: #cdcdcd;
  transition: 0.3s;
}

.cards-arrow:hover.active,
.cards-arrow:hover.inactive {
  cursor: default;
}

.cards-arrow:hover.normal {
  background-color: #fddcc4;
  border: 2px solid #fddcc4;
  cursor: pointer;
}

.arrow-3 {
  border-color: #f1cdb3;
  background-color: #f1cdb3;
  color: #292929;
}

.cards-arrow.normal {
  border-color: #f1cdb3;
  color: #292929;
}

.cards-arrow.inactive {
  border-color: #cdcdcd;
  pointer-events: none;
}

/* FOOTER */

.footer {
  height: 35rem;
  margin: 0 auto;
  background: url(/assets/img/images/noise_transparent.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer-content {
  display: flex;
  padding-top: 4rem;
  gap: 16rem;
}

.footer-contacts {
  width: 28rem;
  margin-top: 1.7rem;
}

.footer-locations {
  width: 30.2rem;
  margin-top: 1.7rem;
}

.footer-title {
  margin-bottom: 4rem;
  font-family: Georgia;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 4.5rem;
  letter-spacing: 0.21rem;
  color: #ffffff;
}

.footer-container {
  display: flex;
  align-items: center;
}

.footer-text {
  font-family: Georgia;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.3rem;
  letter-spacing: 0.12rem;
  color: #f1cdb3;
}

.contacts-email-container {
  margin-bottom: 3.98rem;
}

.contacts-email-icon {
  width: 4rem;
  height: 3.2rem;
  margin-top: -0.1rem;
  background: url("/assets/img/svg/mail.svg") no-repeat;
}

.contacts-phone-icon {
  width: 4rem;
  height: 3.2rem;
  background: url("/assets/img/svg/phone.svg") no-repeat;
}

.contacts-email-text,
.contacts-phone-number {
  margin-left: 2rem;
}

.contacts-phone-number {
  margin-top: 0.08rem;
}

.email-link,
.phone-link {
  cursor: pointer;
  color: #f1cdb3;
}

.locations-title {
  margin-left: -0.1rem;
}

.locations-container-boston {
  margin-top: -0.8rem;
  margin-left: -0.1rem;
}

.locations-container-london {
  margin-top: 3.4rem;
  margin-left: -0.1rem;
}

.locations-icon {
  width: 2.2rem;
  height: 3.2rem;
  margin-top: -0.1rem;
  margin-left: -0.1rem;
  background: url("/assets/img/svg/locations.svg") no-repeat;
}

.locations-icon2 {
  margin-top: -0.3rem;
}

.locations-text {
  padding-left: 2rem;
}

.locations-text a {
  color: #f1cdb3;
}

.footer-img {
  width: 30rem;
  height: 31rem;
  margin-left: -0.2rem;
  background: url("/assets/img/images/footer-puppy.png") no-repeat;
}
