
@media (max-width: 79.99em) {

  .content-width {
    width: 95%;
  }

  .header {
    min-width: 95%;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .not-only {
    height: 70rem;
  }

  .not-only-content {
    justify-content: space-between;
  }

  .not-only-heading {
    padding-top: 20rem;
  }

  .not-only-img {
    margin-left: 2rem;
  }

  .not-only-img img {
    max-width: 50rem;
    justify-self: flex-end;
  }

  .our-friends-content {
    width: 95%;
  }

  .our-friends-slider {
    min-width: 90%;
  }

  .slider-wrapper {
    width: 65rem;
    margin: 0 auto;
  }

  @keyframes slide-left {
    from {left: -72rem;}
    to {left: 0rem;}
  }

  @keyframes slide-right {
    from {left: -72rem;}
    to {left: -144rem;}
  }

  .slider {
    left: -72rem;
  }

  .card:nth-child(3) {
    display: none;
  }

  .help {
    height: 100%;
    margin-bottom: 3rem;
  }

  .help-content {
    width: 100%;
  }

  .help-list {
    width: 100%;
    height: auto;
    gap: 6rem;
    row-gap: 5.6rem;
    justify-content: center;
  }

  .help-icon {
    margin: 0 5.5rem;
  }

  .footer {
    max-width: 100%;
    height: auto;
  }

  .footer-content {
    width: 100%;
    flex-wrap: wrap;
    gap: 6rem;
    padding-top: 3.1rem;
    justify-content: space-evenly;
  }
}

@media (max-width: 66em) {

  .not-only {
    height: 70rem;
  }

  .not-only-text {
    width: 30rem;
  }

  .not-only-img img {
    max-width: 40rem;
  }
}

@media (max-width: 58em) {

  .not-only {
    height: 70rem;
  }

  .not-only-text {
    width: 30rem;
  }

  .not-only-img img {
    max-width: 30rem;
  }

  .slider-wrapper {
    width: 54.44rem;
  }

  @keyframes slide-left {
    from {left: -54.44rem;}
    to {left: 0rem;}
  }

  @keyframes slide-right {
    from {left: -54.44rem;}
    to {left: -108.8rem;}
  }

  .slider {
    left: -54.44rem;
    gap: 0.3rem;
  }

  .slider-item {
    gap: 0.3rem;
  }
}

@media (max-width: 48em) {

  section {
    max-width: 76.8rem;
  }

  .content-width {
    width: 70.8rem;
  }

  .header {
    max-width: 76.8rem;
    margin-left: 0;
    margin-right: 0;
  }

  .not-only {
    height: 116.5rem;
  }

  .not-only-content {
    width: 56.9rem;
    flex-direction: column;
  }

  .not-only-text-container {
    width: 46rem;
    margin: 0 auto;
  }

  .not-only-heading {
    width: 40rem;
    padding-top: 6.1rem;
  }

  .not-only-text {
    width: 46rem;
  }

  .not-only-btn {
    margin-top: 4.2rem;
    margin-left: 12.6rem;
  }

  .not-only-img img {
    max-width: 56.9rem;
    max-height: 59.3rem;
    margin-left: 4.9rem;
  }

  .about {
    height: 104.8rem;
  }

  .about-content {
    padding: 0;
    padding-top: 6.6rem;
    padding-left: 0.6rem;
  }

  .about-container {
    width: 43.7rem;
    flex-direction: column-reverse;
    gap: 8rem;
  }

  .about-img {
    margin-left: 6.5rem;
  }

  .our-friends-content {
    width: 70.8rem;
  }

  .slider-wrapper {
    width: 58rem;
    margin: 0 1.3rem;
  }

  @keyframes slide-left {
    from {left: -61.4rem;}
    to {left: 0rem;}
  }

  @keyframes slide-right {
    from {left: -61.4rem;}
    to {left: -122.8rem;}
  }

  .slider {
    left: -61.4rem;
    gap: 3.7rem;
  }

  .slider-item {
    gap: 3.7rem;
  }

  .card:nth-child(3) {
    display: none;
  }

  .our-friends-btn {
    margin-left: 0;
  }

  .help {
    height: 77.9rem;
    margin-bottom: 0;
  }

  .help-content {
    width: 63rem;
  }

  .help-list {
    width: 63rem;
    height: 44.9rem;
    gap: 6rem;
    row-gap: 5.6rem;
    justify-content: center;
  }

  .help-item {
    height: 11.2rem;
  }

  .help-icon {
    margin: 0 5.5rem;
  }

  .help-text {
    margin-left: 0.1rem;
  }

  .in-addition {
    height: 78.3rem;
  }

  .in-addition-content {
    width: 50.5rem;
    flex-direction: column-reverse;
    row-gap: 6rem;
  }

  .in-addition-img {
    margin-left: -0.1rem;
  }

  .in-addition-text {
    margin-left: 6.25rem;
  }

  .footer {
    max-width: 76.8rem;
    height: 63.9rem;
  }

  .footer-content {
    width: 70.8rem;
    flex-wrap: wrap;
    gap: 6rem;
    padding-top: 3.1rem;
    justify-content: normal;
  }

  .footer-contacts {
    margin-top: 0;
    margin-left: 3.4rem;
  }

  .footer-locations {
    margin-top: 0;
  }

  .locations-boston {
    margin-top: -0.1rem;
  }

  .locations-container-london {
    margin-top: 3.4rem;
  }

  .footer-img {
    margin-top: 0.4rem;
    margin-left: 20.4rem;
  }
}

@media (max-width: 47.9375em) {

  .content-width {
    width: 95%;
  }

  body.no-scroll {
    overflow: hidden;
  }

  .header {
    max-width: 90%;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .overlay.visible {
    visibility: visible;
  }

  .burger-menu {
    display: block;
    order: 3;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    z-index: 12;
  }

  .burger-line {
    display: block;
    width: 3rem;
    height: 0.2rem;
    margin: 0.8rem auto;
    background-color: #f1cdb3;
    z-index: 12;
  }

  .burger-menu.active {
    transform: rotate(90deg);
    margin-right: 0.3rem;
    transition: all 0.5s ease-in-out;
  }

  .nav-container {
    display: flex;
    position: fixed;
    right: -150%;
    top: 0;
    width: 32rem;
    height: 100%;
    min-height: 50rem;
    background-color: #292929;
    align-items: center;
    z-index: 11;
    transition: 1s ease-out;
  }

  .nav-list {
    gap: 4rem;
    width: 32rem;
    height: 32.7rem;
    flex-direction: column;
    font-size: 3.2rem;
    line-height: 5.21rem;
    letter-spacing: 0rem;
    margin: 0;
    transition: 0.6s;
    text-align: center;
    justify-content: center;
  }

  .nav-link {
    display: inline-block;
    text-underline-offset: 1.4rem;
  }

  .nav-container.active {
    right: 0;
    transition: all 1s ease-in-out;
  }

  .not-only-content {
    width: 100%;
  }

  .not-only-img img {
    width: 80%;
    margin-left: 1rem;
  }

  .not-only-text-container {
    width: 90%;
  }

  .not-only-heading {
    width: 90%;
  }

  .not-only-text {
    width: 90%;
  }

  .not-only-btn {
    margin: 0 auto;
    margin-top: 4.2rem;
  }

  .about-container {
    width: 100%;
  }

  .about-text-container {
    width: 100%;
  }

  .about-heading {
    width: 100%;
  }

  .about-img {
    margin: 0 auto;
  }

  .slider-wrapper {
    width: 27rem;
    margin: 0 auto;
  }

  @keyframes slide-left {
    from {left: -29rem;}
    to {left: 0rem;}
  }

  @keyframes slide-right {
    from {left: -29rem;}
    to {left: -58rem;}
  }

  .slider {
    left: -29rem;
    gap: 2rem;
  }

  .slider-item {

    gap: normal;
  }

  .card:nth-child(2) {
    display: none;
  }

  .help {
    height: 100%;
    margin-bottom: 3rem;
  }

  .help-content {
    width: 100%;
  }

  .help-heading {
    width: 100%;
  }

  .help-list {
    width: 100%;
    height: auto;
    gap: 6rem;
    row-gap: 5.6rem;
    justify-content: center;
  }

  .help-icon {
    margin: 0 5.5rem;
  }

  .in-addition-content {
    width: 90%;
  }

  .in-addition-text {
    width: 90%;
    margin: 0 auto;
  }

  .in-addition-heading {
    width: 90%;
    margin-left: 0.12rem;
  }

  .in-addition-img {
    width: 95%;
  }

  .footer {
    min-width: 95%;
    height: auto;
  }

  .footer-contacts,
  .footer-locations {
    margin: 0 auto;
  }

  .footer-img {
    margin: 0 auto;
  }
}

@media (max-width: 35em) {

  .not-only {
    height: 108.55rem;
  }

  .our-friends {
    height: auto;
  }

  .our-friends-heading {
    width: 90%;
  }

  .our-friends-slider {
    flex-wrap: wrap;
    justify-content: center;
  }

  .arrow-left {
    order: 3;
  }

  .slider-wrapper {
    margin-top: 2.1rem;
    margin-bottom: 2rem;
    order: 1;
  }

  .break {
    width: 100%;
    order: 2;
  }

  .arrow-right {
    order: 4;
    margin-left: 8rem;
  }

  .card-btn {
    margin-top: 3.1rem;
  }

  .our-friends-btn {
    margin-top: 12rem;
    margin-bottom: 6rem;
  }

  .in-addition-heading {
    text-align: center;
  }

  .in-addition-credit-card {
    width: 28.1rem;
    height: 4.3rem;
    margin: 0 auto;
  }

  .credit-card-number {
    font-size: 1.5rem;
    line-height: 2.3rem;
    letter-spacing: 0.09rem;
  }
}


@media (max-width: 20em) {

  .content-width {
    min-width: 30rem;
  }

  .header {
    height: 6rem;
    max-width: 32rem;
    margin-left: 0;
    margin-right: 0;
  }

  .logo-container {
    margin-left: 1.2rem;
  }

  .navbar {
    max-width: 32rem;
    margin-top: 0;
  }

  .burger-menu {
    display: block;
    margin-right: 1.2rem;
    order: unset;
  }

  .burger-menu.active {
    transform: rotate(90deg);
    margin-right: 1.3rem;
  }

  .burger-line {
    display: block;
    width: 3rem;
    height: 0.2rem;
    margin: 0.8rem auto;
    background-color: #f1cdb3;
  }

  .not-only {
    height: 82.3rem;
    padding-top: 3rem;
  }

  .not-only-text-container {
    width: 30rem;
  }

  .not-only-heading {
    width: 22rem;
    margin-left: 4.07rem;
    padding-top: 6rem;
    font-size: 2.5rem;
    line-height: 3.25rem;
    letter-spacing: 0.15rem;
    text-align: center;
  }

  .not-only-text {
    width: 30rem;
    text-align: center;
  }

  .not-only-btn {
    margin-left: 4.6rem;
  }

  .not-only-img img {
    width: 100%;
    max-width: 26rem;
    max-height: 27.177rem;
    margin-left: 3rem;
  }

  .about {
    height: 97.4rem;
  }

  .about-content {
    width: 30rem;
    padding: 0;
    padding-top: 4.1rem;
    padding-left: 0.1rem;
  }

  .about-container {
    width: 30rem;
    gap: 4.2rem;
  }

  .about-img {
    width: 26rem;
    height: 35.36rem;
    background-size: 26rem 35.36rem;
    margin-top: -0.05rem;
    margin-left: 1.9rem;
  }

  .about-text-container {
    width: 30rem;
  }

  .about-heading {
    width: 28rem;
    margin: 0 auto;
    margin-bottom: 2.4rem;
    font-size: 2.5rem;
    line-height: 3.25rem;
    letter-spacing: 0.15rem;
    text-align: center;
  }

  .about-text {
    width: 27rem;
    margin: 0 auto;
    text-align: justify;
  }

  .about-text p:last-child {
    margin-top: 2.2rem;
  }

  .our-friends {
    height: 79.1rem;
  }

  .our-friends-content {
    width: 30rem;
  }

  .card:nth-child(2) {
    display: none;
  }

  .our-friends-content {
    padding-top: 4.1rem;
  }

  .our-friends-heading{
    width: 30rem;
    font-size: 2.5rem;
    line-height: 3.25rem;
    letter-spacing: 0.15rem;
  }

  .our-friends-slider {
    height: 50.7rem;
    margin-top: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .slider {
    margin-bottom: 2rem;
  }

  .arrow-right {
    margin-left: 8rem;
  }

  .card-btn {
    margin-top: 3.1rem;
  }

  .our-friends-btn {
    margin-top: 6.3rem;
  }

  .help {
    height: 74.5rem;
    margin-bottom: 0;
  }

  .help-content {
    width: 30rem;
  }

  .help-heading {
    width: 26rem;
    margin: 0 auto;
    margin-top: 4.2rem;
    font-size: 2.5rem;
    line-height: 3.22rem;
    letter-spacing: 0.15rem;
  }

  .help-heading br {
    display: none;
  }

  .help-list {
    width: 29.1rem;
    height: 55.5rem;
    margin-top: 4.1rem;
    gap: 3rem;
    row-gap: 3rem;
    justify-content: space-between;
  }

  .help-item {
    height: 8.7rem;
    row-gap: 2rem;
    justify-content: flex-start;
  }

  .help-icon {
    width: 5rem;
    height: 5rem;
    margin: 0 4rem;
    background-size: 5rem 5rem;
  }

  .help-text {
    margin-left: 0.1rem;
    font-size: 1.5rem;
    line-height: 1.65rem;
    letter-spacing: 0.09rem;
  }

  .in-addition {
    height: 54.2rem;
  }

  .in-addition-content {
    width: 30rem;
    row-gap: 4.2rem;
    padding-top: 4.2rem;
  }

  .in-addition-img {
    width: 26rem;
    height: 13.52rem;
    margin: 0 auto;
    background-size: 26rem 13.52rem;
  }

  .in-addition-text {
    width: 30rem;
    margin: 0 auto;
  }

  .in-addition-heading {
    margin-left: 1.58rem;
    font-size: 2.5rem;
    line-height: 3.25rem;
    letter-spacing: 0.15rem;
    text-align: center;
  }

  .in-addition-subheading {
    margin-top: 0.2rem;
    margin-bottom: 0.4rem;
    text-align: center;
    letter-spacing: normal;
  }

  .in-addition-credit-card {
    width: 28.1rem;
    height: 4.3rem;
    margin: 0 auto;
  }

  .credit-card-number {
    font-size: 1.5rem;
    line-height: 2.3rem;
    letter-spacing: 0.09rem;
  }

  .in-addition-legal-info {
    width: 28rem;
    margin: 0 auto;
    text-align: justify;
  }

  .footer {
    min-width: 32rem;
    height: 80.9rem;
  }

  .footer-content {
    width: 30rem;
    gap: 4rem;
  }

  .footer-contacts {
    width: 27.8rem;
    margin: 0 auto;
  }

  .footer-title {
    margin-top: -0.1rem;
    margin-bottom: 4.05rem;
    font-size: 2.5rem;
    line-height: 3.23rem;
    letter-spacing: 0.15rem;
    text-align: center;
  }

  .footer-container {
    width: 100%;
    justify-content: center;
  }

  .footer-locations {
    width: 30rem;
    margin: 0 auto;
  }

  .locations-title {
    width: 27rem;
    margin: 0 auto;
  }

  .locations-container-boston {
    margin-top: 4.05rem;
    margin-left: -0.25rem;
  }

  .locations-container-london {
    margin-top: 3.9rem;
    margin-left: -1.5rem;
  }

  .locations-icon2 {
    margin-top: 0.1rem;
  }

  .footer-img {
    width: 26rem;
    height: 26.9rem;
    margin: 0 auto;
    margin-top: -0.1rem;
    background-size: 26rem 26.9rem;
  }
}
