* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

.header {
  max-width: 3840px;
  height: 908px;
  background: url(../img/svg/noise_transparent@2x.svg),
  radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%),
  #211F20;
  margin: 0 auto;

  .nav {
    margin: 0 auto;
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px 69px 40px;

    .logo {
      h1 {
        font-family: 'Georgia', 'sans-serif';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        color: #F1CDB3;
      }

      h6 {
        font-family: 'Arial', 'sans-serif';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        display: flex;
        align-items: center;
        letter-spacing: 0.1em;
        color: #FFFFFF;
      }

      .title {
        padding-left: 3px;
        letter-spacing: 0.1em;
      }

      .subtitle {
        margin-top: 10px;
        padding-left: 5px;
      }
    }

    .nav-menu {
      max-width: 443px;
      height: auto;

      ul li {
        margin-right: 31px;
        display: inline-block;
        font-family: 'Arial', 'sans-serif';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #FAFAFA;
        border-bottom: 3px solid transparent;
        transition: border-bottom 0.3s ease;

        a {
          color: #FAFAFA;
          text-decoration: none;
        }

        &:last-child {
          margin-right: 0;
        }

        &:hover {
          border-bottom: 3px solid #F1CDB3;
          cursor: pointer;
        }
      }
    }
  }
}

.screen-content {
  background: url('../img/images/start-screen-puppy.png') no-repeat right bottom;
  margin: 0 auto;
  max-width: 1200px;
  height: 82.5%;

  .about__content {
    padding-top: 183px;
    max-width: 460px;
    height: auto;

    .header__donation {
      max-width: 310px;
      height: auto;
      padding-bottom: 43px;

      h2 {
        font-family: 'Georgia', 'sans-serif';
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 130%;
        display: flex;
        align-items: center;
        color: #FFFFFF;
      }
    }

    .header__subheading {
      padding-bottom: 40px;
    }

    .header__subheading p {
      font-family: 'Arial', 'sans-serif';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 160%;
      display: flex;
      align-items: center;
      color: #CDCDCD;
    }
  }

  .content__button {

    padding: 15px 45px;
    background: #F1CDB3;
    border-radius: 100px;
    font-family: 'Georgia', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;

    a {
      text-decoration: none;
      color: #292929;
    }
  }
}

.about {
  max-width: 3840px;
  height: 588px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;


  .about-content {
    margin: 78px 160px 100px 158px;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 123px;

  }
}

.donation__heading {
  max-width: 370px;
  height: auto;
}

.about__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  max-width: 430px;
  height: auto;

  h3 {
    font-family: 'Georgia', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #545454;
  }

  p {
    font-family: 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #4C4C4C;
  }
}


.pets {
  background: #F6F6F6;
  max-width: 3840px;
  height: auto;


  .pets__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;

    .pets__heading {
      max-width: 400px;
      padding: 80px 440px 60px 440px; // 93px!

      h3 {
        text-indent: 1.6em;
        font-family: 'Georgia', 'sans-serif';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #545454;
      }
    }
  }
}

.button-arrow {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
}

.pets__slider {
  max-width: 1200px;
  gap: 55px;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;

  > * {
    &:nth-child(2) {
      margin-right: 30px;
    }

    &:nth-child(4) {
      margin-left: 30px;
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9F9F9;

    h3 {
      font-family: 'Georgia', 'sans-serif';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.06em;
      color: #545454;
      margin-top: 30px;
    }

    .card__button {
      box-sizing: border-box;
      align-items: center;
      padding: 15px 45px;
      margin-top: 30px;
      margin-bottom: 30px;
      border: 2px solid #F1CDB3;
      border-radius: 100px;
      font-family: 'Georgia', 'sans-serif';
      font-style: normal;
      font-weight: 400;
      font-size: 17px;
      line-height: 130%;
      letter-spacing: 0.06em;
      color: #292929;
    }
  }
}

.pets__content .pets-content__button {
  padding: 15px 45px;
  max-width: 261px;
  height: 52px;
  border-radius: 100px;
  background: #F1CDB3;
  margin-bottom: 100px;
  font-family: 'Georgia', 'sans-serif';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #292929;
  border: none;
  letter-spacing: 1px;
}

.help {
  margin: 0 auto;
  max-width: 1280px;
  height: 611px;
  background-color: white;

  .help-content {
    padding-top: 80px;
    padding-bottom: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .text-heading {
      max-width: 308px;
    }

    .text-heading h3 {
      font-family: 'Georgia', 'sans-serif';
      font-style: normal;
      font-weight: 400;
      font-size: 35px;
      line-height: 130%;
      text-align: center;
      letter-spacing: 0.04em;
      color: #545454;
    }

    .list {
      padding-top: 59px;
      max-width: 1026px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      row-gap: 61px; // промежуток между рядами
      column-gap: 119px; // промежуток между столбцами

      .flex-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      h4 {
        padding-top: 27px;
        font-family: 'Georgia', 'sans-serif';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        text-align: center;
        letter-spacing: 0.06em;
        color: #545454;
        white-space: nowrap;
      }
    }

    h4 {
      padding-top: 25px;
      font-family: 'Georgia', 'sans-serif';
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 115%;
      text-align: center;
      letter-spacing: 0.06em;
      color: #545454;
      white-space: nowrap;
    }
  }
}

.donation {
  background: #F6F6F6;
  margin: 0 auto;


  .donation__content {
    padding-top: 78px;
    padding-bottom: 100px;
    margin: 0 auto;
    display: flex;
    column-gap: 30px;
    max-width: 915px;
    height: 282px;

    img {
      max-width: 505px;
    }

    .donation__main {
      h3 {
        padding-bottom: 20px;
        font-family: 'Georgia','sans-serif';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        align-items: center;
        letter-spacing: 0.06em;
        color: #545454;
      }

      h5 {
        padding-bottom: 20px;
        font-family: 'Georgia','sans-serif';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 110%;
        align-items: center;
        letter-spacing: 0.06em;
        color: #545454;
      }
    }

    .donation__credit-card {
      margin-bottom: 20px;
      max-width: 349px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 10px 0;
      background: #F1CDB3;
      border-radius: 9px;

      .donation__credit-card-content {
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-width: 319px;
        height: 23px;

        h4 {
          margin-left: 10px;
          font-family: 'Georgia','sans-serif';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 115%;
          display: flex;
          align-items: center;
          letter-spacing: 0.06em;
          color: #545454;
        }
      }
    }

    p {
      font-family: 'Arial','sans-serif';
      font-style: italic;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: #B2B2B2;
    }
  }
}

.footer {
  background: url(../img/svg/noise_transparent@2x.svg), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;


  .footer__content {
    display: flex;
    //justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1280px;
    height: 350px;
    column-gap: 159px;


    .footer__title {
      max-width: 279px;
      height: 90px;
      margin-left: 40px;

      &:nth-child(2) {
        margin-left: 0;
      }

      h3 {
        font-family: 'Georgia', 'sans-serif';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #FFFFFF;
      }
    }

    .footer__contacts {
      display: flex;
      flex-direction: column;
      row-gap: 44px;

      .footer-mail {
        margin-left: 12px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;

        h3 {
          padding-left: 20px;
          font-family: 'Georgia', 'sans-serif';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 115%;
          letter-spacing: 0.06em;
        }
        a {
          text-decoration: none;
          color: #F1CDB3;
        }
      }
    }

    .footer-contacts {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        text-decoration: none;
      }
      h4 {
        padding-left: 20px;
        font-family: 'Georgia','sans-serif';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #F1CDB3;
      }
    }

    .footer-locations {
      flex-direction: column;
      display: flex;
      column-gap: 159px;

      .footer__title {
        max-width: 302px;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: 0;

        h3 {
          font-family: 'Georgia', 'sans-serif';
          font-style: normal;
          font-weight: 400;
          font-size: 35px;
          line-height: 130%;
          letter-spacing: 0.06em;
          color: #FFFFFF;
        }
      }

      .footer__boston {
        margin-top: 34px;
        display: flex;
        a {
          text-decoration: none;
        }
        h3 {
          padding-left: 20px;
          font-family: 'Georgia','sans-serif';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 115%;
          letter-spacing: 0.06em;
          color: #F1CDB3;
        }
      }

      .footer__london {

        margin-top: 37px;
        display: flex;
        a {
          text-decoration: none;
        }
        h4 {
          padding-left: 20px;
          font-family: 'Georgia','sans-serif';
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 115%;
          letter-spacing: 0.06em;
          color: #F1CDB3;
        }
      }
    }

    .footer__dog {
      padding-top: 40px;
    }
  }
}





