* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.header {
  max-width: 3840px;
  height: auto;
  margin: 0 auto;
}
.header .nav {
  margin: 0 auto;
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px 29px 40px;
}
.header .nav .logo .title a {
  text-decoration: none;
}
.header .nav .logo .title h1 {
  font-family: "Georgia", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: #545454;
}
.header .nav .logo h6 {
  font-family: "Arial", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  color: #545454;
}
.header .nav .logo .title {
  padding-left: 3px;
  letter-spacing: 0.1em;
}
.header .nav .logo .subtitle {
  margin-top: 10px;
  padding-left: 5px;
}
.header .nav .nav-menu {
  max-width: 443px;
  height: auto;
}
.header .nav .nav-menu ul li {
  margin-right: 31px;
  display: inline-block;
  font-family: "Arial", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #545454;
  border-bottom: 3px solid transparent;
  transition: border-bottom 0.3s ease;
}
.header .nav .nav-menu ul li a {
  color: #545454;
  text-decoration: none;
}
.header .nav .nav-menu ul li:last-child {
  margin-right: 0;
}
.header .nav .nav-menu ul li:hover {
  border-bottom: 3px solid #F1CDB3;
  cursor: pointer;
}

.pets {
  background: #F6F6F6;
  max-width: 3840px;
  height: auto;
}
.pets .pets__content {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
}
.pets .pets__content .pets__heading {
  padding-top: 80px;
  padding-bottom: 58px;
  max-width: 400px;
  height: auto;
}
.pets .pets__content .pets__heading h3 {
  text-indent: 1.6em;
  font-family: "Georgia", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}
.pets .pets__content .pets-cards-container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  height: auto;
  gap: 40px;
  row-gap: 26px;
}
.pets .pets__content .pets-cards-container .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F9F9F9;
}
.pets .pets__content .pets-cards-container .card h3 {
  font-family: "Georgia", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
  margin-top: 30px;
}
.pets .pets__content .pets-cards-container .card .card__button {
  box-sizing: border-box;
  align-items: center;
  padding: 15px 45px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}
.pets .pets__content .pets-navigation {
  display: flex;
  padding-bottom: 100px;
  padding-top: 60px;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.pets .pets__content .pets-navigation button {
  width: 52px;
  height: 52px;
}
.pets .pets__content .pets-navigation .button_paginator_inactive {
  border: 2px solid #CDCDCD;
  border-radius: 100px;
}
.pets .pets__content .pets-navigation .button_paginator_inactive h4 {
  padding: 10px;
  font-family: "Georgia", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #CDCDCD;
}
.pets .pets__content .pets-navigation .button_paginator_active {
  background: #F1CDB3;
  border-radius: 100px;
  border: none;
}
.pets .pets__content .pets-navigation .button_paginator_active h4 {
  padding: 10px;
  font-family: "Georgia", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #292929;
}
.pets .pets__content .pets-navigation .button_paginator {
  border: 2px solid #F1CDB3;
  border-radius: 100px;
}
.pets .pets__content .pets-navigation .button_paginator h4 {
  font-family: "Georgia", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
  color: #292929;
}

.footer {
  background: url(../img/svg/noise_transparent@2x.svg), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}
.footer .footer__content {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  max-width: 1280px;
  height: 350px;
  column-gap: 159px;
}
.footer .footer__content .footer__title {
  max-width: 279px;
  height: 90px;
  margin-left: 40px;
}
.footer .footer__content .footer__title:nth-child(2) {
  margin-left: 0;
}
.footer .footer__content .footer__title h3 {
  font-family: "Georgia", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.footer .footer__content .footer__contacts {
  display: flex;
  flex-direction: column;
  row-gap: 44px;
}
.footer .footer__content .footer__contacts .footer-mail {
  margin-left: 12px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.footer .footer__content .footer__contacts .footer-mail h3 {
  padding-left: 20px;
  font-family: "Georgia", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}
.footer .footer__content .footer__contacts .footer-mail a {
  text-decoration: none;
  color: #F1CDB3;
}
.footer .footer__content .footer-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer__content .footer-contacts a {
  text-decoration: none;
}
.footer .footer__content .footer-contacts h4 {
  padding-left: 20px;
  font-family: "Georgia", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
.footer .footer__content .footer-locations {
  flex-direction: column;
  display: flex;
  column-gap: 159px;
}
.footer .footer__content .footer-locations .footer__title {
  max-width: 302px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}
.footer .footer__content .footer-locations .footer__title h3 {
  font-family: "Georgia", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.footer .footer__content .footer-locations .footer__boston {
  margin-top: 34px;
  display: flex;
}
.footer .footer__content .footer-locations .footer__boston a {
  text-decoration: none;
}
.footer .footer__content .footer-locations .footer__boston h3 {
  padding-left: 20px;
  font-family: "Georgia", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
.footer .footer__content .footer-locations .footer__london {
  margin-top: 37px;
  display: flex;
}
.footer .footer__content .footer-locations .footer__london a {
  text-decoration: none;
}
.footer .footer__content .footer-locations .footer__london h4 {
  padding-left: 20px;
  font-family: "Georgia", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
.footer .footer__content .footer__dog {
  padding-top: 40px;
}

/*# sourceMappingURL=pets.css.map */
